<!DOCTYPE html>
<html>
  <head>
    <title>Clip TV</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="app">
      <div class="header">
        <%= link_to "Clip TV", root_path %>
      </div>
      <div class="main">
        <div class="sidebar">
          <%# <ul> %>
            <li><%= link_to "CLIPING", post_path %></li>
            <li>HOT</li>
            <li>CATEGORY</li>
            <li>CHANNELS</li>
          <%# </ul> %>
        </div>
        <div class="content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
